::ng-deep {
  tr {
    position: relative;
    display: block;
    padding: 10px 0;
    border-top: 1px solid #d5dee4;
    min-height: 60px;

    td {
      width: auto;
    }
    td {
      position: relative;
      word-break: break-word;
      vertical-align: middle;
      padding: 0 16px;
      width: calc(100% - 100px);
      display: block;
      border: 0;
    }

    @media (min-width: 768px) {
      td {
        word-break: normal;
        padding: 10px;
        display: table-cell;
        border-top: 1px solid #d5dee4;
      }
    }
  }
  tr:hover:not(.hover-disabled) {
    background-color: rgb(232, 234, 236);
    transition-duration: .5s;
  }

  @media (min-width: 768px) {
    tr {
      display: table-row;
      padding: 0;
      border-top: 0;
      min-height: 0;
    }
  }
}
