<ais-instantsearch [config]="AisConfig">

<app-table [TableConfig]="TableConfig">
  <app-ais-search-box headerDataFilter></app-ais-search-box> 

  <thead tableHead>
    <th tableHeadItem>0</th>
    <th tableHeadItem>1</th>
    <th tableHeadItem>2</th>
    <th tableHeadItem>3</th>
  </thead>

  <tbody tableBody>
    <ng-template let-hits="hits" let-results="results">
      <tr *ngFor="let hit of hits;" tableBodyRow>
        <td>{{ hit.objectID }}</td>
        <td>{{ hit.firstname }}</td>
        <td>{{ hit.lastname }}</td>
        <td>{{ hit.zip_code }}</td>
      </tr>
    </ng-template>
  </tbody>
</app-table>

</ais-instantsearch>
